.tensorButton {
  border-radius: 2px;
  font-weight: 400;
  border: none;
  outline: none;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  .ico {
    margin-right: 5px;
    vertical-align: middle;
  }
  &.anchor {
    text-decoration: none;
  }
  &.small {
    padding: 1px 8px;
    font-size: 14px;
    .ico {
      width: 12px;
      height: 12px;
    }
  }
  &.middle {
    padding: 5px 22px;
    font-size: 14px;
    .ico {
      width: 12px;
      height: 12px;
    }
  }
  &.big {
    padding: 8px 30px;
    font-size: 16px;
    .ico {
      width: 14px;
      height: 14px;
    }
  }
  &.primary {
    background: linear-gradient(90deg, #3ac2f0 0%, #2aa4f5 100%);
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
  &.danger {
    background: linear-gradient(90deg, #ff757e 0%, #e66061 100%);
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
  &.danger_border {
    background: #ffffff;
    border: 1px solid #ed494a;
    color: #e66061;
    &:hover {
      color: #e66061;
    }
  }
  &.danger_text {
    color: #e66061;
    &:hover {
      color: #e66061;
    }
  }
  &.secondary {
    background: #e6e7eb;
    color: #313c4f;
    &:hover {
      color: #313c4f;
    }
  }
  &.disable {
    background: #f0f3f7;
    border-color: #f0f3f7;
    color: rgba(49, 60, 79, 0.35);
    cursor: not-allowed;
    &:hover {
      color: rgba(49, 60, 79, 0.35);
    }
  }
  &.ghost {
    background: none !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.65);
    &:hover {
      color: rgba(255, 255, 255, 0.65);
    }
  }
  &.text {
    font-size: 14px;
    color: #008ae5;
    &:hover {
      color: #008ae5;
    }
  }
  &.loading {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
