.tensorCheckBox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .checkbox {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #dfe1e6;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: all 300ms cubic-bezier(0.78, 0.14, 0.15, 0.86);
    overflow: hidden;
    & > span {
      position: absolute;
      width: 100%;
      height: 100%;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      // border-radius: 2px;
      overflow: hidden;
      &::before {
        content: "";
        position: relative;
        top: -1px;
        display: inline-block;
        width: 50%;
        height: 25%;
        border-left: 2px solid #2aa4f5;
        border-bottom: 2px solid #2aa4f5;
        transform: rotate(-45deg) skew(10deg);
        opacity: 0;
        transition: all 300ms cubic-bezier(0.78, 0.14, 0.15, 0.86);
        width: 0;
        height: 0;
      }
    }
  }
  .label {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
    margin-left: 3px;
    vertical-align: middle;
    transition: all 300ms cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  &:hover {
    .checkbox {
      border-color: #2aa4f5;
    }
  }
  &.disable {
    cursor: not-allowed;
    .checkbox {
      background: rgba(0, 0, 0, 0.04);
      border-color: #d5d7db;
    }
    .label {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  &.checked {
    .checkbox {
      border: 1px solid #2aa4f5;
      & > span {
        background-color: #2aa4f5;
        &::before {
          opacity: 1;
          width: 55%;
          height: 20%;
          border-color: #fff;
        }
      }
    }
    &.disable {
      cursor: not-allowed;
      .checkbox {
        background: rgba(0, 0, 0, 0.04);
        border-color: #d5d7db;
        & > span {
          &::before {
            background: inherit;
          }
        }
      }
      .label {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.tensorCheckBoxGroup {
  .tensorCheckBox {
    & + .tensorCheckBox {
      margin-left: 24px;
    }
  }
}
