.tensorInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;

  input {
    box-sizing: border-box;
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px solid #f0f3f7;
    outline: none;
    background: #f0f3f7;
    border-radius: 4px;
    transition: all linear 300ms;
    font-weight: 400;
    color: #151b26;
    width: 160px;
    &:focus {
      border-color: #2aa4f5;
      background: #ffffff;
    }
  }
  .input_label {
    display: inline-block;
    margin-right: 12px;
    width: 120px;
  }
  &.middle {
    input {
      font-size: 16px;
      padding: 5px 12px;
    }
  }
  &.small {
    input {
      padding: 1px 8px;
      font-size: 14px;
    }
  }
  &.danger {
    .input {
      border-color: #ed494a;
    }
  }
  &.disable {
    cursor: not-allowed;
    .input {
      border-color: #dfe2e6;
    }
  }
}
