.tensorModal_base {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  overflow: visible;
  visibility: visible;
  z-index: 50;

  .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    display: none;
    z-index: 100;
  }
  .innercontent {
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    transition: all linear 200ms;
    z-index: 101;
  }

  &.show {
    &.mask {
      .mask {
        display: block;
      }
    }
    .innercontent {
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
  }
}

.tensor_modal_has_action_buttongroup {
  position: relative;
  .close {
    font-style: normal;
    position: absolute;
    right: 16px;
    padding: 16px;
    top: 0;
    cursor: pointer;
    z-index: 12;
    color: rgba(34, 46, 77, 0.5);
  }
}

.tensor_modal_noraml {
  width: 480px;
  background: #ffffff;
  box-shadow: 0px 12px 48px 16px rgba(21, 27, 38, 0.03),
    0px 9px 28px 0px rgba(21, 27, 38, 0.05),
    0px 6px 16px -8px rgba(21, 27, 38, 0.08);
  border-radius: 4px;
  .head {
    padding: 16px 24px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 1px;
      background: #f0f2f5;
    }
    .title {
      font-size: 16px;
      font-weight: 500;
      color: #151b26;
      line-height: 24px;
      text-align: left;
    }
  }
  .content {
    padding: 23px 32px;
    margin-bottom: 17px;
    max-height: 55vh;
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}

.tensor_modal_action_button_group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 32px;
  padding-bottom: 26px;
  .tensorButton {
    & + .tensorButton {
      margin-left: 16px;
    }
  }
}
