.tensorRadio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  input[type='radio'] {
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: -100;
  }
  .radio {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #dfe1e6;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: all 300ms cubic-bezier(0.78, 0.14, 0.15, 0.86);
    & > span {
      position: absolute;
      width: 50%;
      height: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: '';
        width: 0;
        height: 0;
        background: #2aa4f5;
        border-radius: 100%;
        opacity: 0;
        transition: all 300ms cubic-bezier(0.78, 0.14, 0.15, 0.86);
      }
    }
  }
  .label {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
    margin-left: 3px;
    vertical-align: middle;
    transition: all 300ms cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  &:hover {
    .radio {
      border-color: #2aa4f5;
    }
  }
  &.disable {
    cursor: not-allowed;
    .radio {
      background: rgba(0, 0, 0, 0.04);
      border-color: #d5d7db;
    }
    .label {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  &.checked {
    .radio {
      border: 1px solid #2aa4f5;
      & > span {
        &::before {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
    }
    &.disable {
      cursor: not-allowed;
      .radio {
        background: rgba(0, 0, 0, 0.04);
        border-color: #d5d7db;
        & > span {
          &::before {
            background: #cbcdd1;
          }
        }
      }
      .label {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.tensorRadioGroup {
  .tensorRadio {
    & + .tensorRadio {
      margin-left: 24px;
    }
  }
}
