.tensorSelect {
  position: relative;
  display: inline-block;
  width: 224px;
  & > select {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
  }
  .value_display {
    background: #f0f3f7;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    color: #151b26;
    font-weight: 400;
    position: relative;
    padding-right: 16px;
    width: 100%;
    border: 1px solid #f0f3f7;
    transition: all linear 300ms;
    &::after {
      position: absolute;
      content: "";
      border: 5px solid transparent;
      border-top-color: #92979e;
      top: 50%;
      right: 8px;
      margin-top: -3px;
      transition: all linear 300ms;
      transform-origin: top;
    }
  }
  .options_box {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    transition: all linear 300ms;
    transform: rotateX(90deg);
    opacity: 0;
    max-height: 150px;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 0px 9px 28px 8px rgba(84, 90, 102, 0.05),
      0px 6px 16px 0px rgba(84, 90, 102, 0.08),
      0px 3px 6px -4px rgba(84, 90, 102, 0.12);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #313c4f;
    line-height: 28px;
    padding-bottom: 12px;
    padding-top: 4px;
    box-sizing: border-box;
    .optionitem {
      margin-top: 1px;
      margin-bottom: 1px;
      padding: 4px 12px;
      cursor: pointer;
      transition: all linear 300ms;
      &:hover {
        background: #f2f4f5;
      }
      &.selected {
        background: #e1f0fa;
      }
    }
  }
  &.showoption {
    .value_display {
      background: #ffffff;
      border: 1px solid #c5d0db;
      border: 1px solid #dbf1ff;
      &::after {
        transform: rotate(-180deg);
        margin-top: 0;
      }
    }
    .options_box {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  &.middle {
    .value_display {
      padding: 8px 12px;
      font-size: 16px;
    }
  }
  &.small {
    .value_display {
      padding: 5px 12px;
      font-size: 14px;
    }
  }
  &.placeholder {
    .value_display {
      color: #a3afc8;
    }
  }
  &.disable {
    .value_display {
      border: 1px solid #dfe2e6;
      color: rgba(163, 175, 200, 0.5);
      cursor: not-allowed;
    }
  }
}
