.tensorSwitch {
  position: relative;
  flex: 1;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  input[type='radio'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: -100;
  }
  .label {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: inherit;
  }
  &:hover {
    .label {
    }
  }
  &.disable {
    cursor: not-allowed;
    .label {
    }
  }
  &.checked {
    &.disable {
      cursor: not-allowed;
      .label {
      }
    }
  }
}

.tensorSwitchGroup {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: all linear 300ms;
  .tensorSwitch {
    & + .tensorSwitch {
      .label {
        flex-direction: row-reverse;
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #fff;
    transition: all linear 1s;
    opacity: 0;
    z-index: 2;
  }
  @keyframes toleft {
    form {
      left: 4%;
      right: unset;
      opacity: 0;
      transform: scale(0);
    }
    to {
      left: unset;
      right: 4%;
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes toright {
    form {
      left: unset;
      right: 4%;
      opacity: 0;
      transform: scale(0);
    }
    to {
      left: 4%;
      right: unset;
      opacity: 1;
      transform: scale(1);
    }
  }
  &.isOpen {
    background: #2aa4f5;
    &::before {
      animation: toright linear 300ms forwards;
    }
  }
  &.isClose {
    background: #bdc1ca;
    &::before {
      animation: toleft linear 300ms forwards;
    }
  }
  &.disabled{
    opacity: 0.35;
  }
  &.normal{
    width: 42px;
    height: 22px;
    border-radius: 22px;
    &::before {
      width: 18px;
      height: 18px;
      margin-top: -9px;
    }
  }
  &.small{
    width: 28px;
    height: 16px;
    border-radius: 16px;
    &::before {
      width: 12px;
      height: 12px;
      margin-top: -6px;
    }
  }
}
