.tensorTable {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .head_item,
  .data_item {
    padding: 8px 14px;
    text-align: left;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 14px;
    text-align: left;
    flex: 1;
  }
  .head_items_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f7fa;
    margin-bottom: 1px;
    .head_item {
      color: #78849f;
      &.sortable {
        cursor: pointer;
      }
    }
  }
  .dataListBox {
    background-color: #fff;
    .data_row_items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      position: relative;
      .data_item {
        color: #313c4f;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 3px;
          background: #56b0f8;
          height: 0;

          //   opacity: 0;
          //   transform: scale(0);
          //   transition: all linear 300ms;
        }
      }
      &:hover {
        background: #f2f6fa;
        &::before {
          height: 100%;
          //   opacity: 1;
          //   transform: scale(1);
        }
      }
    }
  }
}
