.tensorTextarea {
  box-sizing: border-box;
  resize: vertical;
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 200px;
  border: 1px solid transparent;
  outline: none;
  background: #f0f3f7;
  border-radius: 4px;
  padding: 12px 16px;
  transition: all linear 300ms;
  &:focus {
    border-color: #2aa4f5;
  }
  &.danger {
    border-color: #ed494a;
  }
  &.disable {
    cursor: not-allowed;
  }
}
